DB_HOST = mongodb+srv://$DB_USER:$DB_PASSWORD@todo.9gxrc1x.mongodb.net/$DB_NAME
DB_NAME = toDoDB
DB_USER = ToDoAdminUser
DB_PASSWORD = TdaD0aOR5YdSqgqQ

SITE_URL_TESTS = http://localhost:3000/todo

PORT = 3000